#header {
    color: white;
}

.weather-dashboard {
    color: white;
}

.weather-gradient-bgc {
    background: linear-gradient(to right, #F2D2BD, #A95C68)
}

.search-bgc {
    background: #A95C68;
    border: 1px solid #A95C68;
}

.search-bgc:hover {
    background: #9A515D;
    border: 1px solid #9A515D;
}

.city-box {
    border: #A95C68 solid;
    border-radius: 6px;
}

.forecast-card {
    color: white;
    border: #A95C68;
    border-radius: 6px;
    background: #A95C68;
}

.forecast-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

.history-city:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}
  